# Apache Spark Demo

In [1]:
# Apache Spark uses Java, so first we must install that

#!apt-get install openjdk-8-jdk-headless -qq > /dev/null

The system cannot find the path specified.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [5]:
# Download and unpack the latest version of Spark (3.3.0 as of writing)
#!wget -q https://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xzf spark-3.3.0-bin-hadoop3.tgz

In [7]:
# Set up environment variables
import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.3.0-bin-hadoop3"

In [8]:
# Install findspark, which helps python locate the psyspark module files
!pip install -q findspark
import findspark
findspark.init()

In [ ]:
# Finally, we initialse a "SparkSession", which handles the computations
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
# Load in the .csv file to a DataFrame
usersCsvPath = "/content/sample_data/california_housing_test.csv"

housingDF = (spark
             .read
             .option('header', True)
             .option('inferSchema', True)
             .csv(usersCsvPath))

In [ ]:
housingDF.show()
housingDF.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
housingDF.select('median_house_value').show()

+------------------+
|median_house_value|
+------------------+
|          344700.0|
|          176500.0|
|          270500.0|
|          330000.0|
|           81700.0|
|           67000.0|
|           67000.0|
|          166900.0|
|          194400.0|
|          164200.0|
|          125000.0|
|           58300.0|
|          252600.0|
|          231200.0|
|          222500.0|
|          153100.0|
|          181300.0|
|          137500.0|
|          300000.0|
|          414300.0|
+------------------+
only showing top 20 rows

In [ ]:
housingDF.select('median_house_value', 'longitude', 'latitude').show()

+------------------+---------+--------+
|median_house_value|longitude|latitude|
+------------------+---------+--------+
|          344700.0|  -122.05|   37.37|
|          176500.0|   -118.3|   34.26|
|          270500.0|  -117.81|   33.78|
|          330000.0|  -118.36|   33.82|
|           81700.0|  -119.67|   36.33|
|           67000.0|  -119.56|   36.51|
|           67000.0|  -121.43|   38.63|
|          166900.0|  -120.65|   35.48|
|          194400.0|  -122.84|    38.4|
|          164200.0|  -118.02|   34.08|
|          125000.0|  -118.24|   33.98|
|           58300.0|  -119.12|   35.85|
|          252600.0|  -121.93|   37.25|
|          231200.0|  -117.03|   32.97|
|          222500.0|  -117.97|   33.73|
|          153100.0|  -117.99|   33.81|
|          181300.0|  -120.81|   37.53|
|          137500.0|   -121.2|   38.69|
|          300000.0|  -118.88|   34.21|
|          414300.0|  -122.59|   38.01|
+------------------+---------+--------+
only showing top 20 rows

In [ ]:
housingDF.select('median_house_value', 'longitude', 'latitude', 'housing_median_age')\
         .filter('housing_median_age > 30')\
         .show()

+------------------+---------+--------+------------------+
|median_house_value|longitude|latitude|housing_median_age|
+------------------+---------+--------+------------------+
|          176500.0|   -118.3|   34.26|              43.0|
|           67000.0|  -119.56|   36.51|              37.0|
|           67000.0|  -121.43|   38.63|              43.0|
|          164200.0|  -118.02|   34.08|              31.0|
|          125000.0|  -118.24|   33.98|              45.0|
|           58300.0|  -119.12|   35.85|              37.0|
|          252600.0|  -121.93|   37.25|              36.0|
|          153100.0|  -117.99|   33.81|              42.0|
|          414300.0|  -122.59|   38.01|              35.0|
|          126300.0|  -122.15|   37.75|              40.0|
|           83400.0|  -121.37|   38.68|              36.0|
|          241500.0|  -118.16|   34.07|              47.0|
|          115400.0|   -122.2|   37.79|              45.0|
|          484700.0|  -118.03|   34.16|              36.0|
|          250000.0|  -122.42|   37.76|              52.0|
|          369200.0|  -118.39|   33.99|              32.0|
|          172600.0|   -118.3|   33.91|              34.0|
|          183800.0|  -118.32|   33.94|              38.0|
|          178700.0|  -118.11|    34.0|              33.0|
|          270800.0|  -122.53|   37.97|              52.0|
+------------------+---------+--------+------------------+
only showing top 20 rows

In [ ]:
old_houses = housingDF.select('median_house_value', 'longitude', 'latitude', 'housing_median_age')\
         .filter('housing_median_age > 30')
old_houses.show()

+------------------+---------+--------+------------------+
|median_house_value|longitude|latitude|housing_median_age|
+------------------+---------+--------+------------------+
|          176500.0|   -118.3|   34.26|              43.0|
|           67000.0|  -119.56|   36.51|              37.0|
|           67000.0|  -121.43|   38.63|              43.0|
|          164200.0|  -118.02|   34.08|              31.0|
|          125000.0|  -118.24|   33.98|              45.0|
|           58300.0|  -119.12|   35.85|              37.0|
|          252600.0|  -121.93|   37.25|              36.0|
|          153100.0|  -117.99|   33.81|              42.0|
|          414300.0|  -122.59|   38.01|              35.0|
|          126300.0|  -122.15|   37.75|              40.0|
|           83400.0|  -121.37|   38.68|              36.0|
|          241500.0|  -118.16|   34.07|              47.0|
|          115400.0|   -122.2|   37.79|              45.0|
|          484700.0|  -118.03|   34.16|              36.0|
|          250000.0|  -122.42|   37.76|              52.0|
|          369200.0|  -118.39|   33.99|              32.0|
|          172600.0|   -118.3|   33.91|              34.0|
|          183800.0|  -118.32|   33.94|              38.0|
|          178700.0|  -118.11|    34.0|              33.0|
|          270800.0|  -122.53|   37.97|              52.0|
+------------------+---------+--------+------------------+
only showing top 20 rows

# Lecture 3 - Aggregations

In [ ]:
usersCsvPath = "/content/titanic_train.csv"

titanicDF = (spark
             .read
             .option('header', True)
             .option('inferSchema', True)
             .csv(usersCsvPath))

In [ ]:
# Check the contents of the .csv file

titanicDF.show() # .show displays the first 20 rows by default
titanicDF.printSchema()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female|  ?|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                   null|                   null|   16.0|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|   13.0|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|   18.0|
|       1|     3|Mrs. Fatima Masse...|female| 22|                      0|                      0|  7.225|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Siblings/Spouses Aboard: integer (nullable = true)
 |-- Parents/Children Aboard: integer (nullable = true)
 |-- Fare: double (nullable = true)

In [ ]:
titanicDF.groupBy('Pclass').mean('Fare').show()

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.707707392197129|
|     2| 20.66218315217391|
+------+------------------+

In [ ]:
titanicDF.groupBy('sex').mean('Fare').show()

+------+------------------+
|   sex|         avg(Fare)|
+------+------------------+
|female| 44.47981783439487|
|  male|25.633935253054084|
+------+------------------+

In [ ]:
titanicDF.groupBy('Pclass').mean('Fare').sort('Pclass').show()
titanicDF.groupBy('Pclass', 'sex').count().sort('Pclass').show()

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     2| 20.66218315217391|
|     3|13.707707392197129|
+------+------------------+

+------+------+-----+
|Pclass|   sex|count|
+------+------+-----+
|     1|female|   94|
|     1|  male|  122|
|     2|female|   76|
|     2|  male|  108|
|     3|  male|  343|
|     3|female|  144|
+------+------+-----+

In [ ]:
from pyspark.sql import functions as F

In [ ]:
titanicDF.groupBy('sex', 'Pclass')\
         .agg(F.mean('Siblings/Spouses Aboard'),
              F.mean('Parents/Children Aboard'))\
         .sort('Pclass', 'sex')\
         .show()

+------+------+----------------------------+----------------------------+
|   sex|Pclass|avg(Siblings/Spouses Aboard)|avg(Parents/Children Aboard)|
+------+------+----------------------------+----------------------------+
|female|     1|          0.5591397849462365|         0.46236559139784944|
|  male|     1|          0.3140495867768595|          0.2786885245901639|
|female|     2|                         0.5|          0.6081081081081081|
|  male|     2|          0.3592233009708738|         0.22549019607843138|
|female|     3|          0.9020979020979021|          0.8041958041958042|
|  male|     3|          0.5103244837758112|         0.22807017543859648|
+------+------+----------------------------+----------------------------+

In [ ]:
sibsp = F.col('Siblings/Spouses Aboard')
parch = F.col('Parents/Children Aboard')

In [ ]:
SibSpParCh = (sibsp + parch).alias('SibSpParCh')

In [ ]:
titanicDF.groupBy('sex', 'Pclass')\
         .agg(F.mean(SibSpParCh).alias('Mean_SibSpParCh'))\
         .sort('Pclass', 'sex')\
         .show()

+------+------+------------------+
|   sex|Pclass|   Mean_SibSpParCh|
+------+------+------------------+
|female|     1| 1.021505376344086|
|  male|     1|0.5950413223140496|
|female|     2|1.1111111111111112|
|  male|     2| 0.594059405940594|
|female|     3|1.7062937062937062|
|  male|     3| 0.742603550295858|
+------+------+------------------+